<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Metadata" data-toc-modified-id="Metadata-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Metadata</a></span></li><li><span><a href="#Feature-correspondence" data-toc-modified-id="Feature-correspondence-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Feature correspondence</a></span></li><li><span><a href="#Get-features-that-have-MS2" data-toc-modified-id="Get-features-that-have-MS2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get features that have MS2</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Merge</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#Exploring-chemical-classes..." data-toc-modified-id="Exploring-chemical-classes...-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Exploring chemical classes...</a></span></li></ul></li></ul></div>

Data preparation for multivariate analyses.

The matrix I am using is `featureCorrespondence.csv`. I have to do some filtering. I am retaining features that received a MS2 annotation, so need to do some data wrangling here.

# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd

'/Volumes/NGG_TFAILY_LAB_1/URen_oak/2021/3_multiv_analyses'

# Metadata

Just adding italic sci name

In [3]:
metadata = pd.read_csv("../1_preprocessing/metadata.csv")
metadata['itSpeciesName'] = "italic('"+metadata['SpeciesName']+"')"
metadata.to_csv('metadata.csv', index=False)
metadata.head()

,SampleCode,DatePreparedforMetabolomics,SpeciesName,OakType,State,LeafType,LeafLife,FileName,itSpeciesName
0,QAU-1L,2019-10-10,Q. austrina,White,FL,Living,Deciduous,Tfaily_QAU-1L-M_15Nov19_Gimli_Zorbax-1190_neg....,italic('Q. austrina')
1,QGE-2L,2019-10-10,Q. geminata,White,FL,Living,Brevideciduous,Tfaily_QGE-2L-M_15Nov19_Gimli_Zorbax-1190_neg....,italic('Q. geminata')
2,QHE-16L,2019-10-10,Q. hemisphaerica,Red,FL,Living,Brevideciduous,Tfaily_QHE-16L-M_15Nov19_Gimli_Zorbax-1190_neg...,italic('Q. hemisphaerica')
3,QLE-17L,2019-10-10,Q. laevis,Red,FL,Living,Deciduous,Tfaily_QLE-17L-M_15Nov19_Gimli_Zorbax-1190_neg...,italic('Q. laevis')
4,QLA-3L,2019-10-10,Q. laurifolia,Red,FL,Living,Brevideciduous,Tfaily_QLA-3L-M_15Nov19_Gimli_Zorbax-1190_neg....,italic('Q. laurifolia')

# Feature correspondence

In [4]:
fcorr = pd.read_csv('../1_preprocessing/featureCorrespondence.csv')

fcorr.rename(columns={"Unnamed: 0":'Features'}, inplace=True)

features = fcorr[['Features']]

fcorr['Features'] = features

fcorr.set_index('Features', inplace=True)

print(fcorr.shape)

fcorr.head()

(4683, 11)

,QAU-1L,QGE-2L,QHE-16L,QLE-17L,QLA-3L,QMI-5L,QNI-7L,QNI-8L,QVI-11L,QIN-27L,QIN-28L
Features,,,,,,,,,,,
FT0001,5.949366e+02,3.515096e+06,169429.867300,330201.371648,24467.499469,0.000000e+00,727.655080,2603.742958,423296.909629,0.000000e+00,1.015169e+05
FT0002,1.400760e+07,0.000000e+00,0.000000,3436.279366,0.000000,9.121839e+06,1289.048501,5741.175947,0.000000,5.361561e+06,5.582021e+06
FT0003,4.333892e+04,6.636020e+04,1021.189074,110200.275672,40355.986960,0.000000e+00,0.000000,0.000000,17109.070227,5.973369e+04,0.000000e+00
FT0004,7.330351e+03,3.681496e+04,14194.718842,14848.918190,30846.988332,3.330738e+04,10513.109992,18135.355735,110271.279915,9.003466e+03,1.248013e+04
FT0005,6.000334e+04,1.002141e+05,350188.584769,403548.737315,5997.402530,1.119413e+04,259328.108039,180676.105636,7601.379260,0.000000e+00,4.694614e+03

# Get features that have MS2

In [5]:
ms2_annotation = pd.read_csv('../2_ms2_annotation/summary_ms2_annotation_energetics.csv')

ms2_annotation = ms2_annotation[['Features']]

ms2_annotation.head()

  Features
0   FT0158
1   FT0199
2   FT0216
3   FT0221
4   FT0227

# Merge

In [6]:
merged = ms2_annotation.merge(fcorr, on='Features', how='left')

print(merged.shape)

merged.head()

(921, 12)

,Features,QAU-1L,QGE-2L,QHE-16L,QLE-17L,QLA-3L,QMI-5L,QNI-7L,QNI-8L,QVI-11L,QIN-27L,QIN-28L
0,FT0158,3.929300e+05,1.918686e+06,3.797645e+05,7.107000e+05,8.772696e+05,4.927660e+05,1.500615e+06,1.394668e+06,1.502961e+06,3.232995e+06,7.313612e+05
1,FT0199,1.040259e+07,9.950352e+06,7.427623e+06,8.689600e+04,1.609191e+07,5.257846e+06,1.279932e+07,7.001698e+06,0.000000e+00,7.703962e+06,5.447417e+06
2,FT0216,2.437687e+05,2.299481e+05,0.000000e+00,1.152340e+06,0.000000e+00,3.174189e+05,2.932670e+03,1.516477e+06,1.682982e+03,4.315103e+06,1.930186e+05
3,FT0221,3.902082e+04,9.110670e+05,1.371070e+05,4.093593e+04,3.275913e+05,2.934419e+05,1.351888e+05,3.802031e+05,2.507868e+05,2.535553e+05,2.783765e+05
4,FT0227,7.341600e+04,5.215582e+06,1.970620e+07,1.637651e+06,1.656111e+07,6.627889e+04,8.521567e+06,6.992220e+06,1.160798e+07,3.460601e+04,8.012961e+04

# Filter 

I am dropping features that don't have a lot of variability (`var()>1`) and that are "rare" meaning present in 4 or less samples.

In [7]:
fcorr1 = merged.copy()

fcorr1 = fcorr1.set_index('Features')
print(fcorr1.shape)

fcorr1 = fcorr1.replace(0, np.nan)
nsamples = int(len(fcorr1.columns)*.4)
print(nsamples)

## Require that many non-NA values (== nsamples)
fcorr1 = fcorr1.dropna(axis=0, thresh = nsamples) 
print(fcorr1.shape)

fcorr1 = fcorr1.replace(np.nan, 0)

## log transform
fcorr1 = np.log10(fcorr1+1)

## filter rows that have variance == 0; will cause issues in the PCA
fcorr1 = fcorr1[fcorr1.var(axis=1).astype(int)>1]

print(fcorr1.shape)

# SAVE!!
fcorr1.to_csv('featureCorrespondence_MS2.csv')

fcorr1.head()

(921, 11)
4
(921, 11)
(527, 11)

,QAU-1L,QGE-2L,QHE-16L,QLE-17L,QLA-3L,QMI-5L,QNI-7L,QNI-8L,QVI-11L,QIN-27L,QIN-28L
Features,,,,,,,,,,,
FT0199,7.017142,6.997838,6.870850,4.939005,7.206608,6.720808,7.107187,6.845203,0.000000,6.886714,6.736191
FT0216,5.386980,5.361632,0.000000,6.061581,0.000000,5.501634,3.467411,6.180836,3.226337,6.634991,5.285601
FT0316,6.176266,7.098760,6.773129,6.883660,4.923794,0.000000,6.865103,7.146187,6.567710,5.324416,1.537001
FT0317,6.527802,6.861784,6.977613,6.509012,6.791199,3.697731,3.306695,6.914295,6.650696,2.741705,4.862135
FT0328,3.408924,5.924112,6.529386,5.523251,6.692541,4.034415,4.912437,4.872260,6.623623,0.000000,3.365420